// ----------------------------------------------------------------------------
// Default scope

  // Grid
  @include grid-setup((
    count: 12,
    gutter: 1%
  ));

  // Colors
  @include vset((
    title-background-color: #0f0,
    title-color: #00f,
    box-color: #f00
  ));

  // Misc
  @include vset((
    site-max-width: 1600px,
    box-border: 5px solid #0f0
  ));

// ----------------------------------------------------------------------------
// Normal scope
@include scope(normal) {

  // Scope settings
  @include scope-settings((
    query: 'max-width: 1280px',
    fallback: default
  ));

  // Grid
  @include grid-setup((
    count: 12,
    gutter: 2%
  ));

  // Misc
  @include vset(box-border, 0 none);
}

// ----------------------------------------------------------------------------
// Tiny scope
@include scope(tiny) {

  // Scope settings
  @include scope-settings((
    query: 'max-width: 400px',
    fallback: default
  ));

  // Grid
  @include grid-setup((
    count: 2,
    gutter: 5%
  ));
}
