/*! scope-js: '{"js": ["default", "one", "two", "three"], "grid": {"default": {"count": null, "gutter": null, "column": null, "width": null, "maxwidth": null}, "one": {"count": 10, "gutter": "5%", "column": "5.5%", "width": null, "maxwidth": null}, "two": {"count": null, "gutter": null, "column": null, "width": null, "maxwidth": null}, "three": {"count": null, "gutter": null, "column": null, "width": null, "maxwidth": null}}}' */
.scope-scope {
  position: absolute;
  display: none; }

#scope-default {
  top: 1px; }

#scope-one {
  top: 1px; }

@media (max-width: 1024px) {
  #scope-two {
    top: 1px; } }
@media (max-width: 600px) {
  #scope-three {
    top: 1px; } }
