//
$__scope_default: default_scope !default;

//
$__scope: $__scope_default !default;


//
$__scopes: ();

//
$__scope_modules: ();

//
$__scope_triggers: ();


/// Get a scope.
///
/// @param {String} $scope_name ($__scope)
///   Name of the scope.
///
/// @return {Map}
///   The complete scope map.
@function __scope-get($scope_name: $__scope, $data: ()) {
  $scope: map-get($__scopes, $scope_name);

  @if ($scope == null) {
    $scope_name: scope-create($scope_name, $data);
    $scope: __scope-get($scope_name);
  }

  @return $scope;
}

/// Set scope data.
///
/// @param {Map} $scope
///   The actual scope data.
/// @param {String} $scope_name ($__scope)
///   - Name of the scope.
///
/// @return {Map}
///   The complete scope map.

@function __scope-set($scope, $scope_name: $__scope) {
  $__scopes: __map-set($__scopes, $scope_name, $scope) !global;
  @return $scope;
}
