//
$__scope_default: default_scope !default;

//
$__scope: $__scope_default !default;


//
$__scopes: ();

//
$__scope_modules: ();

//
$__scope_triggers: ();


/// Get a scope.
///
/// @param {String} $scope_name ($__scope)
///   Name of the scope.
///
/// @return {Map}
///   The complete scope map.
@function __scope-get($scope_name: $__scope) {
  $scope: map-get($__scopes, $scope_name);
  @return $scope;
}

/// Set scope data.
///
/// @param {Map} $scope
///   The actual scope data.
/// @param {String} $scope_name ($__scope)
///   - Name of the scope.
///
/// @return {Map}
///   The complete scope map.

@function __scope-set($scope, $scope_name: $__scope) {
  $__scopes: __map-set($__scopes, $scope_name, $scope) !global;
  @return $scope;
}


/// Add a function to a trigger.
///
/// @param {String} $trigger_name
///   Name of the trigger.
/// @param {String} $function
///   Name of the function to call.
///
/// @return {String}
///   The function name
@function __scope-trigger-add($trigger_name, $function) {
  $triggers: map-get($__scope_triggers, $trigger_name);

  @if ($triggers == null) {
    $triggers: ($function);
  } @else {
    $triggers: append($triggers, $function, comma);
  }

  $__scope_triggers: __map-set($__scope_triggers, $trigger_name, $triggers) !global;

  @return $function;
}

/// Trigger all the functions in a trigger.
///
/// @param {String} $trigger_name
///   Name of the trigger.
/// @param {Map} $data (())
///   Data to pass through to the called functions.
///
/// @return {Boolean}
///   The combined result of the calls
@function __scope-trigger($trigger_name, $data: ()) {
  $triggers: map-get($__scope_triggers, $trigger_name);

  @if ($triggers == null) {
    $triggers: ();
  }

  $result: true;

  @each $trigger in $triggers {
    @if (function_exists($trigger)) {
      $result: $result and call($trigger, $data);
    }
  }

  @return $result;
}
