@import '../../scss/misc';

// body {
  // content: create-grid('asd', ());
  // content: create-grid('second', ());
// }

@include create-breakpoint((
  columns: 12,
  gutter: 1%
));
@include create-breakpoint((
  columns: 12,
  gutter: 5%,
  query: 'screens all min-width () yadayda'
), asd2);

@include setvar('header-height', 100px);
@include setvar('header-height', 150px);
@include setvars((
  mothig: sag,
  dsglkj: hgds,
  asd: fallbacked
));

// @debug $__vars;

// @debug getvar(header-height);
@include breakpoint() {
  // @debug getvar('header-height');
  
};

@include breakpoint(asd2) {
  // @debug getvar('header-height');
  @debug getvar(asd);
};