@import 'contrib/sassyjson';

///
$__scope_js_variables: ();

///
$__scope_js_activated: false;

///
@mixin scope-js() {
  @if ($__scope_js_activated == false) {
    body:after {
      display: none;
      content: json-encode(scope-js-get-data());
    }

    .scope-scope {
      position: absolute;
      display: none;
    }

    @include scope-all() {
      #scope-#{$__scope} {
        top: 1px;
      }
    }

    $__scope_js_activated: true;
  }
}

///
@function scope-js-set-variable($name, $value) {
  @if ($__scope_js_activated == true) {
    @warn 'The scope-js mixin is already included, new variables will not be added.'
  }
  $__scope_js_variables: __map-set($__scope_js_variables, $name, $value) !global;

  @return $value;
}

///
@function scope-js-get-data() {
  $data: ();

  @each $scope in scope-get-scopes() {
    $data: __map-set($data, $scope, scope-module-trigger(SCOPE_JS_GET, $scope));
  }

  @each $name, $variable in $__scope_js_variables {
    $data: __map-set($data, '_' + $name, $variable);
  }

  @return $data;
}
