@import 'base';

body {
  font-family: sans-serif;
}

.container {
  // Using the ALL_SCOPES flag, will add the container mixin to all other
  // scopes.
  @include grid-container(ALL_SCOPES);

  margin: 0 auto;
}

// Nester
.nester {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.nested-a {
  @include grid(8);
  background-color: #eee;

  .nested-b {
    @include grid(3 of 8);
    background-color: #99e;
  }
  .nested-c {
    @include grid(5 of 8, NO_MARGIN);
    background-color: #9e9;
  }
}
.nested-d {
  @include grid(5);
  background-color: #ddd;

  .nested-e {
    @include grid(3 of 5);
    background-color: #e99;
  }
  .nested-f {
    @include grid(2 of 5, NO_MARGIN);
    background-color: #9ee;
  }
}
.nested-g {
  @include grid(7, NO_MARGIN);
  background-color: #eee;

  .nested-h {
    @include grid(3 of 7, NO_MARGIN);
    background-color: #e9e;
  }
}

// Property
.property {
  @include grid(4, LIST);

  margin-bottom: grid-gutter();
  background-color: #ddd;

  .label {
    @include grid(1 of 4, WIDTH);
    font-weight: bold;
    padding: grid-gutter(4) / 2 grid-gutter(4) / 4;
    box-sizing: border-box;
  }
  .value {
    @include grid(3 of 4, NO_MARGIN);
    padding: grid-gutter(4) / 2;
    border-left: 1px solid #000;
    box-sizing: border-box;
  }
}

// Sub properties, is the the element nested inside properties.
.sub-properties {
  @include grid(8);

  .property {
    @include grid(4 of 8, LIST);
  }
}


// Enable the debugging.
@include scope-debug();

// We need to manually center the '.scopes-debug-grid .grid-container', to fit
// into our current layout.
.scopes-debug-grid {
  .grid-container {
    margin: 0 auto;
  }
}

// The debugging features wont work without also enabling javascript.
@include scope-js();
