//
$scope_settings_default: (fallback: false) !default;

//
@function scope-settings-SCOPE_CREATE($data) {
  $settings: map-get($data, settings);
  @if ($settings == null) {
    $settings: ();
  }
  
  $settings: map-merge($scope_settings_default, $settings);
  
  $nop: scope-module-set(settings, $settings, map-get($data, scope_name));
  @return true;
}
$nop: scope-module-register(SCOPE_CREATE, settings);

//
@function scope-settings-get($setting, $scope_name: $__scope) {
  $settings: scope-module-get(settings, $scope_name);
  @return map-get($settings, $setting);
}

//
@function scope-settings-set($setting, $value, $scope_name: $__scope) {
  $settings: scope-module-get(settings, $scope_name);
  $settings: __map-set($settings, $setting, $value);
  
  $nop: scope-module-set(settings, $settings, $scope_name);
  
  @return $value;
}