// Setup the default grid.
// See the 02-grid-setup example, for a more complete list of how to make custom
// grids very easily.
@include grid-setup((
  // This grid has 12 rows.
  count: 12,
  // The gutter between these rows are 1 %
  gutter: 1%,
  // The width of the container is 95%
  width: 95%,
  // But the max width of the container is 1140px.
  maxwidth: 1140px
));

// Open the "smaller" scope (smaller is just the scope name, you can call it
// anything you like).
@include scope(smaller) {

  // Settings for this scope (these can be passed as the second argument to the
  // scope mixin used above).
  @include scope-settings((
    // The css media query.
    query: 'max-width: 1024px',
    // This scope will fallback on the default scope.
    // See 04-fallback example for better understanding how fallback works.
    fallback: default
  ));

  // Setup the grid for the "smaller" scope.
  @include grid-setup((
    // Use 12 rows.
    count: 12,
    // With a 2% gutter.
    gutter: 2%,
    // And a container width of 98%
    width: 98%
  ));
}
